{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block main %}
    <div class="container">
        <form action="" method="get">
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text" id="inputGroup-sizing-default">Payload</span>
                <input type="text" class="form-control" name="q" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
        </form>
        <div class="d-flex justify-content-center mt-5 text-light" style="height: 100vh;">
            <a href="{{xss}}" class="link">
                go to your website
            </a>
        </div>
    </div>
{% endblock %}